@model BookManager.Models.Book
@{
    ViewData["Title"] = "Create Book";
}
<h1>Create Book</h1>
<partial name="_ValidationScriptsPartial" model="Model" />

<div>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>